# Manipulating Data with Python

Import the pandas library for data analysis. See: http://pandas.pydata.org/

In [5]:
import pandas as pd

Read in the csv.

In [22]:
data = pd.read_csv("un refugee data.csv")

View the first five rows (i.e. the "head") of the data.

In [23]:
data.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
0,1997,Australia,Colombia,37,NaN,NaN,NaN
1,1997,Australia,Germany,27,NaN,NaN,NaN
2,1997,Australia,Japan,1,NaN,NaN,NaN
3,1997,Australia,Mexico,2,NaN,NaN,NaN
4,1997,Australia,Thailand,8,NaN,NaN,NaN

### Select only the rows where Origin = Colombia:

In [24]:
colombia = data[data['Origin'] == 'Colombia']
colombia.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
0,1997,Australia,Colombia,37,NaN,NaN,NaN
5,1997,Bolivia (Plurinational State of),Colombia,1,NaN,NaN,NaN
6,1997,Canada,Colombia,151,NaN,NaN,NaN
11,1997,Chile,Colombia,11,NaN,NaN,NaN
12,1997,Ecuador,Colombia,104,NaN,NaN,NaN

### Select only the rows where Origin = Germany:

In [25]:
germany = data[data['Origin'] == 'Germany']
germany.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
1,1997,Australia,Germany,27,NaN,NaN,NaN
7,1997,Canada,Germany,401,NaN,NaN,NaN
25,1997,Sweden,Germany,8,NaN,NaN,NaN
29,1997,United States of America,Germany,7,NaN,NaN,NaN
35,1998,Australia,Germany,31,NaN,NaN,NaN

### Select only the rows where Origin = Japan:

In [26]:
japan = data[data['Origin'] == 'Japan']
japan.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
2,1997,Australia,Japan,1,NaN,NaN,NaN
8,1997,Canada,Japan,1,NaN,NaN,NaN
36,1998,Australia,Japan,1,NaN,NaN,NaN
46,1998,Canada,Japan,2,NaN,NaN,NaN
82,1999,Australia,Japan,2,NaN,NaN,NaN

### Select only the rows where Origin = Mexico:

In [27]:
mexico = data[data['Origin'] == 'Mexico']
mexico.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
3,1997,Australia,Mexico,2,NaN,NaN,NaN
9,1997,Canada,Mexico,391,NaN,NaN,NaN
30,1997,United States of America,Mexico,272,NaN,NaN,NaN
37,1998,Australia,Mexico,2,NaN,NaN,NaN
41,1998,Belgium,Mexico,1,NaN,NaN,NaN

### Select only the rows where Origin = Thailand:

In [28]:
thailand = data[data['Origin'] == 'Thailand']
thailand.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Internally displaced persons (IDPs),Stateless persons
4,1997,Australia,Thailand,8,NaN,NaN,NaN
10,1997,Canada,Thailand,208,NaN,NaN,NaN
20,1997,Netherlands,Thailand,2,NaN,NaN,NaN
22,1997,Norway,Thailand,5,NaN,NaN,NaN
26,1997,Sweden,Thailand,47,NaN,NaN,NaN

### Save these five tables to separate csv files:

In [29]:
colombia.to_csv("colombia.csv")
germany.to_csv("germany.csv")
japan.to_csv("japan.csv")
mexico.to_csv("mexico.csv")
thailand.to_csv("thailand.csv")